# Ignoriere alle Ordner im Stammverzeichnis
/*/
.vscode/*

# Aber verfolge .cpp- und .h-Dateien im Stammverzeichnis
!/*.cpp
!/*.h
!/*.hlsl
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
